torch
torchvision
diffusers
controlnet_aux
opencv-python
dvc
mlflow
wandb
pydantic
fastapi
uvicorn
python-multipart
accelerate
transformers
scipy
torchmetrics
matplotlib
seaborn
pandas
peft
xformers
aiofiles
